<!-- 
  Login: 
  @controller: LoginCtrl  
  @state: 'login'
  Title page with login button that open a LinkedIn authentication window in inAppBrowser window,
  then redirects to 'tab/nearby'. Shows authentication loading cover while the redirect resolves
-->
<ion-view hide-nav-bar="true" hide-back-button="true" can-swipe-back="false"> 
  
  <!-- Title Page and Login Button -->
  <section class="authenticate-container" ng-show="!loggingIn">
    
    <!-- Title -->
    <div class="col spacer text-center">
        <h1 class="login"> 
            git-phaser 
        </h1>
        <br><br>
        <p class="login"> 
            This phaser materializes <br>  
            the repos around you. 
        </p>
    </div> 
    

    <!-- Phaser Image -->
  
    <div class = "col spacer button-row text-center phaser-col">
      <div class="phaser-wrapper">
        <svg height="256" width="256">
          <circle cx="128" cy="128" r="100" stroke="white" stroke-width="1" fill="white" />
        </svg>
        <img class="phaser" src="./img/phaser256.png" />
      </div> 
    </div>
    

    <!-- Spacer -->
    <!-- <div class="col spacer"></div>  -->
    
    <!-- Login Button -->    
    <!-- DEVELOPMENT -->
    
    <div class = "col spacer text-center" ng-show="DEV">
        <button ng-click="devLogin()" 
                class="button button-large button-outline button-light icon-right ion-social-github login">
          Sign in with GitHub &nbsp
        </button>
    </div>  
    
    <!-- PRODUCTION -->  
    
    <div class = "col spacer text-center" ng-show="!DEV">
        <button ng-click="login()" 
                class="button button-large button-outline button-light icon-right ion-social-github login">
          Sign in with GitHub &nbsp
        </button>
    </div>
    
  </section>

  <!-- Authenticating cover -->
  <section class="authenticate-container" ng-show="loggingIn">
    <div class="col spacer"></div>
    <div class="col button-row text-center"> 
      <div> <ion-spinner class="auth-spinner spinner-stable" icon="ripple"></ion-spinner> </div>
      <div> <span> Authenticating </span> </div>
    </div>
    <div class="col spacer"></div>    
  </section>
</ion-view> 
