<!-- 
  Title page with login button that opens a GitHub authentication window in inAppBrowser window,
  then redirects to 'tab/nearby'. Shows authentication loading cover while the redirect resolves
  @controller: LoginCtrl  
  @state: 'login'
-->
<ion-view hide-nav-bar="true" hide-back-button="true" can-swipe-back="false"> 
  
  <!-- Title Page and Login Button -->
  <section class="authenticate-container" ng-show="!vm.loggingIn">
    
    <!-- Title -->
    <div class="row row-center third text-center">
      <div class="col spacer text-center">
        <h1 class="login"> 
            git-phaser 
        </h1>
        <br><br>
        <p class="login"> 
            This phaser materializes <br>  
            the repos around you. 
        </p>
      </div>
    </div> 

    <!-- Phaser Image -->
    <div class = "row row-center button-row text-center">
      <div class="col phaser-wrapper spacer text-center">
        <img class="phaser vcenter" src="./img/phaser2.png" />
      </div> 
    </div>
    
    
    <!-- Login Button: Development (we can't login via inappbrowser in development) -->    
    <div class="row row-center" ng-show="vm.DEV">
      <div class="col text-center spacer">
        <button ng-click="vm.devLogin()" 
                class="button button-large button-outline button-light icon-right ion-social-github login">
          Sign in with GitHub &nbsp
        </button>
      </div>
    </div>  

    <!-- Login Button: Production --> 
    <div class="row row-center" ng-show="!vm.DEV">
      <div class="col text-center spacer">
        <button ng-click="vm.login()" 
                class="button button-large button-outline button-light icon-right ion-social-github login">
          Sign in with GitHub &nbsp
        </button>
      </div>
    </div>  
  </section>

  <!-- Authenticating cover -->
  <section class="authenticate-container" ng-show="vm.loggingIn">
    <div class="col spacer"></div>
    <div class="col button-row text-center"> 
      <div> <ion-spinner class="auth-spinner spinner-stable" icon="ripple"></ion-spinner> </div>
      <div> <span> Authenticating </span> </div>
    </div>
    <div class="col spacer"></div>    
  </section>
</ion-view> 
