<div class="tabs simu-tabs simu-tabs-stable tabs-icon-top">            
  <a class="tab-item simu-tabs-color-positive" href="#/tab/profile">
    <i class="icon ion-ios-person-outline"></i>
    Profile
  </a>
  <a class="tab-item simu-tabs-color-positive" href="#/tab/nearby">
    <i class="icon ion-ios-people-outline"></i>
    Nearby
  </a>
  <a class="tab-item simu-tabs-color-positive" href="#/tab/notifications">
    <i class="icon ion-ios-filing-outline"></i>
    Notifications
  </a>
  <a class="tab-item simu-tabs-color-positive" href="#/tab/settings">
    <i class="icon ion-ios-cog-outline"></i>
    Settings
  </a>
</div>