<!--
  tab.profile: Generates a Github profile view from fields in object vm.user.
  Shows an addContact footer (see directive.contact.js) 
  @controllers: NearbyProfileCtrl, NotificationsProfileCtrl, ProfileCtrl. (as vm)
  @url: '/nearby/:userId', /notifications/:sender, 'profile' 
-->
<ion-view view-title="{{vm.viewTitle}}" ng-class="{'opaque' : vm.modalOpen}" has-tabs-top>
  
   <!-- GitHub Icon -->
   <ion-nav-buttons side="left">
      <button id="profile-back-btn" class="button button-clear icon ion-ios-arrow-thin-left" 
              ng-show="vm.nav" ng-click="vm.back()">
      </button>
   </ion-nav-buttons>
   <ion-nav-buttons side="right">
      <hireable available="vm.user.hireable" name="vm.user.login"></hireable>
      <button class="button button-clear icon ion-social-github"></button>
   </ion-nav-buttons>
  
   <!-- Inner Tabs -->
   <ion-tabs class="tabs-top tabs-light tabs-striped">
    
      <!-- Tab: About -->
      <ion-tab title="About">
         <ion-content>

           <!-- Basic Profile Info -->
            <div class="item item-thumbnail-left no-top">
              <!-- Avatar -->
               <img ng-src="{{vm.user.avatar_url}}">
               <!-- Name -->
               <h2 class="bold" ng-bind="vm.user.name"></h2>
               <!-- Login -->
               <p ng-bind="vm.user.login"></p>
               <!-- Location -->
               <p ng-show="vm.location"> 
                  <i class="ion-ios-location-outline"></i>
                   {{vm.user.location}} 
               </p>
               <!-- Email -->
               <contact user="vm.user" ng-model="vm.modalOpen" ng-show="vm.email"></contact> 
               <!-- Blog -->
               <p ng-show="vm.blog"> 
                  <i class="ion-link"></i>
                  <span class="link"> {{vm.user.blog}} </span> 
               </p>
               <!-- Company -->
               <p ng-show="vm.company"> 
                  <i class="ion-ios-home-outline"></i>
                  {{vm.user.company}} 
               </p>
            </div>

           <!-- Followers/Following -->
            <div class="item wider thinner">
               <div class="row">
                  <!-- Followers -->
                  <div class="col center">
                     <div class="bold larger"> {{vm.user.followers}} </div>
                     <p> Followers </p>
                  </div>
                  <!-- Follow Button -->
                  <div id="profile-follow-button" ng-show="vm.canFollow" class="col center">
                     <button class="button button-balanced button-outline thinner" 
                             ng-click="vm.follow()">
                       Follow
                     </button>
                  </div>
                  <!-- Following -->
                  <div class="col center">
                     <div class="bold larger"> {{vm.user.following}} </div>
                     <p> Following </p>
                  </div>  
               </div>    
            </div>

           <!-- Contributions Graph -->
            <div class="item item-divider bold">
               Contributions 
            </div>
            <div class="item smaller widest contrib-wrapper">
               <div class="contrib-mask"></div>
               <ion-scroll class="contrib-scroll" direction="x" delegate-handle="graph">
                  <contributions name="vm.user.login"></contributions> 
               </ion-scroll>
            </div>

            <!-- Activity -->
            <div class="item-title bold">
                Activity 
            </div> 

            <!-- Commit Header -->
            <div class="line-item-wrapper center ">
              <span class="line-item"> 
                <span class="bold" ng-show="vm.events.commits_total"> 
                  {{vm.events.commits_total}} 
                </span>
                <span> Commits </span>
              </span> 
            </div> 

            <!-- Commit Item -->
            <div class="item thinner" 
                 ng-repeat="commit in vm.events.commits"
                 ng-class="{'no-top': $first, 'no-bottom': $last }">
              <div class="row">
                <div class="col bold link">
                  <span> {{commit.name}} </span>
                </div>
              </div>
              <div class="row">
                <div class="col col-50 left smaller light">
                  <span> Pushed {{commit.size}} </span> 
                  <span> {{ (commit.size > 1) ? 'commits' : 'commit' }}</span> 
                </div>
                <div class="col col-50 right smaller light">
                  <span> 
                      {{commit.first | dateFilter }} 
                  </span>
                  <span ng-show="!(commit.first === commit.last)"> 
                    - {{commit.last | dateFilter}} 
                  </span>
                </div>
              </div>
            </div>
            <!-- No Commits --> 
            <div class="item no-top no-bottom" ng-show="!vm.events.commits_total">
              <div class="light center"> No recent commits. </div>
            </div>  
            <!-- END COMMIT --> 

            <!-- Issues Header -->
            <div class="line-item-wrapper center ">
              <span class="line-item"> 
                <span class="bold" ng-show="vm.events.issues_total"> 
                  {{vm.events.issues_total}} 
                </span>
                <span> Issues reported </span>
              </span> 
            </div> 

            <!-- Issues Item -->
            <div class="item thinner wider" 
                 ng-repeat="issue in vm.events.issues"
                 ng-class="{'no-top': $first, 'no-bottom': $last }">

              <div class="row">
                <div class="col col-25 center">
                  <button class="button button-block button-balanced bold smaller thinnest" 
                          ng-show="issue.action === 'opened'"> Open </button>
                  <button class="button button-block button-assertive bold smaller thinnest" 
                          ng-show="issue.action != 'opened'"> Closed </button>
                </div>
                <div class="col col-75 grey smaller">
                  <div class="no-wrap"> 
                    <span class="bold"> #{{issue.number}} </span> 
                    <span class="bold link"> {{issue.title}} </span>
                  </div>
                  <div> {{issue.repo}} </div>      
                </div>
              </div>
            </div>
            <!-- No Issues --> 
            <div class="item no-top" ng-show="!vm.events.issues_total">
              <div class="light center"> No recent issues. </div>
            </div> 
            <!-- END ISSUES -->

            <div class="bar-spacer"></div>
          </ion-content>  
          <simu-tab id="profile-simutab" ng-show="vm.nav"></simu-tab>
          
       </ion-tab> 
      <!-- END TAB -->

      <!-- Tab: Repositories -->
      <ion-tab title="Repositories">
         <ion-content> 
           
           <!-- List Card -->
           <div ng-show="vm.repos.length" class="card">
               <div class="item bold"> 
                  Repositories
               </div>

               <!-- Item Def -->
               <div class="item wider" ng-repeat="repo in vm.repos">
               
                 <!-- Type / Name / Stars -->
                 <div class="row">
                    <div class="col col-10">
                       <i ng-show="!repo.fork" class="ion-ios-bookmarks-outline"></i>
                        <i ng-show="repo.fork" class="ion-network"></i>
                    </div>
                    <div class="col col-70 bold link no-wrap"> 
                       {{repo.name}} 
                    </div>
                    <div class="col col-20 grey right">
                       <span class="smaller"> 
                          {{repo.stargazers_count}} 
                       </span>
                       <i class="smaller ion-star"></i>
                    </div>
                 </div>
                 
                 <!-- Description -->
                 <div class="row">
                    <div class="col smaller grey wrap"> 
                       {{repo.description}} 
                    </div>
                 </div>
                 
                 <!-- Updated At / Language--> 
                 <div class="row">
                    <div class="col col-60 smallest grey italic"> 
                       Updated {{repo.updated_at | timeFilter}} 
                    </div>
                    <div class="col col-40 grey smaller bold right">
                       {{repo.language}}
                    </div>
                 </div>
                </div> <!-- END ITEM -->             
              </div> <!-- END CARD -->
            <div class="bar-spacer"></div>
         </ion-content> 
         <simu-tab ng-show="vm.nav"></simu-tab>
     </ion-tab>
    <!-- END TAB --> 
  </ion-tabs>
</ion-view>
      