
/*---------*/
/* UTILITY */
/*---------*/

/* Font-weights */
.bold{ font-weight: bold !important; }
.italic{ font-style: italic; }

/* Text Positions */
.left { text-align: left;}
.center{ text-align: center;}
.right{ text-align: right;}

/* Colors */
.link { color: #4078c0; }
.grey { color: #666 !important; }
.black { color: black;}

/* Font-sizes */   
.larger{ font-size: 150% !important; }
.smaller{ font-size: 13px !important; }
.smallest{ font-size: 11px !important; }

/* Wrap */
.no-wrap{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.wrap{ word-wrap: break-word; white-space: normal}


/*-------------------*/
/* PROFILE TEMPLATE  */
/*-------------------*/

.graph {
    position: relative;
    left: calc(100% - 710px);
    clip-path: inset(100px 50px);
}

.contrib-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    z-index: 2;
    opacity: .7;
    background-color: white;
}

.contrib-wrapper{
    height: 150px;
    position: relative;
}

.contrib-scroll{
    height: 150px;
}

.inner{
    border-top-width: 2px !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;

    border-top-color: red !important;
    border-left-color: #eee !important;
    border-right-color: #eee !important;
}

.sub-content{
    margin-top: 92px;
}

.item.wider{
    padding-left: 5px;
    padding-right: 5px;
}

.item.widest{
    padding-left: 0;
    padding-right: 0;
}

.item.thinner{
    padding-top: 5px;
    padding-bottom: 5px;
}

.item.top{
    padding-top: 5px;
}

.profile-add-contact {
	opacity: 8;
    -webkit-animation: flash 1s;
    animation: flash 1s;
}

.profile-footer{
	-webkit-animation: slideOutDown 300ms;
    animation: slideOutDown 300ms;
}

.directive-footer{
    bottom: 49px !important;
}

.item-chat.new-item.ng-enter {
    -webkit-animation: slideInLeft 500ms;
    animation: slideInLeft 500ms;
}

/*----------------*/
/* LOGIN TEMPLATE */
/*----------------*/


.authenticate-container {
	color: white;
    background-color: rgba(2, 119, 189, 0.7);
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
}

.authenticate-container.spacer {  -webkit-flex: 1; }

.phaser{
    position: relative;
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
}

.phaser-wrapper{ position: absolute; }

button.login{ font-weight: bold; }

p.login{ font-size: 105% }

.spinner svg { width: 96px !important; height: 96px !important; }

h1.login{
    color: white !important;
    text-align: center;
    font-size: 56px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
}


.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}

/* Settings */
.settings-info{
    padding-left: 10px;
}
.item-icon-left.setup{
    padding-left: 70px; 
}


i.icon.setup{
    font-size: 49px;
}
/* Map CSS */
beacon-map{
    height: 600px;
}

beacon-map.ipad{
    height: 1000px;
}

#map{
    height: inherit;
}

.leaflet-control-zoom-out{
    visibility: hidden !important;
}

.leaflet-control-zoom-in{
    visibility: hidden !important;
}

.bar.bar-grey {

    background-color: #D6D6D6;
    background-image: none;
    color: #444; 
}

.bar-center{
    margin-top: 10px !important;
}   

.bar.bar-transparent{
    border-color: none;
    background-color: transparent;
    background-image: none;
}


.leaflet-bar{
    border: none !important;
}


.icon-badge {
  position: absolute;
    top: 4%;
    right: 33%;
    right: calc(50% - 21px);
    padding: 1px 6px;
    height: auto;
    font-size: 12px;
    line-height: 16px;
    pointer-events: none;
}
